{% extends 'base.html' %}

{% block content %}
<h1>Filament Details</h1>

('material', 'color', 'diameter', 'weight', 'temps')
<div class="card">
    <div class = "card-content">
        <span class = "card-title h2"> {{filament.maker}} {{printer.material}}</span>
        <img src="" alt="{{filament.maker}} {{filament.material}} image">
        <p> Maker: {{filament.maker}}</p>
        <p> Material: {{filament.material}}</p>
        <p> Color: {{filament.color}}</p>
        <p> Diameter: {{filament.diameter}}</p>
        <p> Weight: {{filament.weight}}</p>
        <p> Optimal temps: {{filament.temps}}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'filament_update' filament.id %}">Edit</a>
        <a href="{% url 'filament_delete' filament.id %}">Delete</a>
</div>
<script>
    const selectFilament = document.getElementById('id_material')
    M.FormSelect.init(selectFilament)
</script>
{% endblock %}


